body {
  background-color: black;
}
#header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 70px;
  align-items: center;
  color: #14ffec;
  position: sticky;
  top: 0;
}
ul {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  margin-left: 60px;
  font-weight: 700;
}
li {
  color: #14ffec;
  padding: 20px;
  font-weight: 300;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  transition: font-size 1s;
}
a {
  text-decoration: none;
  color: inherit;
}
.box {
  position: relative;
}

.input {
  padding: 8px;
  width: 60px;
  height: 60px;
  background: none;
  border: 4px solid #14ffec;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  color: white;
  outline: none;
  transition: 0.5s;
}
.box:hover input {
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}
.box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #ffd52d;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}

#logo {
  height: 50px;
  width: 190px;
  margin-left: 30px;
}
.imager {
  background-repeat: no-repeat;
  background-image: url("../pics/aslilund.png");
  height: 890px;
  margin-top: 2px;
  background-image: cover;
  background-size: 1900px 890px;
}
#death {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#watch {
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 30px;
  width: 80px;
  margin-left: 1300px;
  width: 250px;
  height: 80px;
  text-align: center;
  background-color: #f9f9f9;
  font-weight: 500;
}
#title {
  font-size: 40px;
  color: white;
  font-weight: 1200;
  margin-left: 1160px;
  margin-bottom: 15px;
}
.gay {
  margin-left: 1000px;
}
#content {
  font-size: 20px;
  color: white;
}
li :hover {
  cursor: pointer;
  /* font-size: 25px; */
  color: goldenrod;
}
#watch :hover {
  background-color: red;
}
